<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>{{ id }} - {{ timestamp.iso }} - Beelabs Invoice</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="css/bootstrap.3.4.1.css">
  <link rel="stylesheet" href="css/template.css">
  </head>
  <body>
    <header class="row" >
      <div class="col-xs-12" style="border-top: 2px solid #011">
          <img src="img/beelabs.logo.png" alt="Beelabs" width="200px" style="margin-top: 0.5em">
      </div>
    </header>
    <main class="row" style="margin-top: 2em">
      <div class="col-xs-3">
        <h1 class="accent-1">Invoice</h1>
        <dl>
          <dt class="sr-only">Telephone</dt>
          <dd><strong>(819) 210-4659</strong></dd>
          <dt class="sr-only">E-mail</dt>
          <dd><strong>billing@beelabs.ca</strong></dd>
          <dt class="sr-only">Address</dt>
          <dd class="top-push-sm">460 St. Laurent Blvd, suite 505, Ottawa, ON K1K 4Z2</dd>
          <dt class="top-push-sm smaller">GST/HST:</dt>
          <dd class="pull-right tweak smaller">822639274</dd>
        </dl>
      </div>
      <div class="col-xs-9">
        <p>Attention: {{ client.name }}</p>
        <address>
          {{ client.company }}<br />
          {{#client.streetaddress }}
          {{ client.streetaddress }}<br />
          {{ client.city }}, {{ client.province }} {{ client.postalcode }}<br />
          {{/client.streetaddress }}
        </address>
        <dl class="dl-horizontal">
          <dt>Date:&nbsp;</dt>
          <dd>{{ timestamp.iso }}</dd>
          <dt>Project Title:&nbsp;</dt>
          <dd>{{ title }}</dd>
          <dt>Invoice Number:&nbsp;</dt>
          <dd>{{ id }}</dd>
        </dl>
        <!-- Table -->
        <table class="table" id="costing">
          <thead>
            <tr>
              <th scope="col" >Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            {{#items}}
            <tr>
              <td class="brdr-rght">{{ description }}</td>
              <td class="text-right brdr-rght">{{ quantity }}</td>
              <td class="text-right brdr-rght money">{{ price }}</td>
              <td class="text-right brdr-rght money">{{ cost }}</td>
            </tr>
            {{/items}}
            <tr class="line-top">
              <td></td>
              <td></td>
              <td class="text-right brdr-rght">Subtotal</td>
              <td class="text-right brdr-rght money">{{ subtotal }}</td>
            </tr>
            {{^notax }}
            <tr>
              <td colspan="2">GST/HST: 822639274</td>  
              <td class="text-right brdr-rght">Tax</td>
              <td class="text-right brdr-rght money">{{ tax }}</td>
            </tr>
            {{/notax}}
            <tr class="line-top line-bottom">
              <td colspan="3" class="brdr-rght">Total</td>
              <td class="text-right brdr-rght money">{{ total }}</td>
            </tr>
          </tbody>
        </table>

        <p class="top-push-md">Thank you for your business. It's a pleasure to work with you.</p>
        <p>Sincerely yours,</p>
        <p>Mario Bonito</p>
      </div>
    </main>
    
  </body>
</html>